BOOKING_DB_NAME=booking_db
BOOKING_DB_USER=booking
BOOKING_DB_PASSWORD=booking

FLIGHT_DB_NAME=flight_db
FLIGHT_DB_USER=flight
FLIGHT_DB_PASSWORD=flight

REDIS_MASTER_NAME=mymaster

FLIGHT_SERVICE_API_KEY=secret-api-key

CB_FAILURE_THRESHOLD=5
CB_TIMEOUT=30
CB_WINDOW=60

CACHE_TTL=600
